.content-options{
    width: 20.64vw;
    position: relative;
    top: 0.5vw;
    left: 71vw;
    display: flex;
    align-items: center;
    font-family: SansLight;
    font-size: 1.05vw;
    .option{
        display: flex;
        align-items: center;
        border-left: 1px solid gray;
        width: 12.5vw;
        padding: 0vw 1vw;

        [class^="icon-"], [class*=" icon-"] {
            font-size: 1.75vw;
            margin-left: 1vw;
            background: gray;
            border-radius: 0.6vw;
            color: white;
            padding: 0.5vw;
        }
    }
    
}