<div class="content-options">
    <div class="option principal">
        <span class="icon-perfil"></span>
    </div>
    <div class="option">
        <span class="icon-alertas"></span>
    </div>
    <div class="option">
        <span class="icon-salir"></span>
    </div>
    <div class="option">
        <span class="icon-perfil"></span>
    </div>
    <div class="option">
        <span class="icon-alertas"></span>
    </div>
    <div class="option">
        <span class="icon-salir"></span>
    </div>
</div>