.btn-toggle.btn-xs {
    margin: 0 0;
    padding: 0;
    position: relative;
    border: none;
    width: 3vw;
    border-radius: 1vw;
    height: 1.5vw;
    background-color: white;
    .handle {
        position: absolute;
        top: 0.125rem;
        left: 0.125rem;
        width: 1.3vw;
        height: 1.3vw;
        border-radius: 1vw;
        background: gray;
        transition: left 0.25s;
    }
}
.btn-toggle.btn-xs.active {
    transition: background-color 0.25s;
    background-color: #ececec;
    .handle{
        right: 0;
        left: initial;
        transition: right 0.25s;
        background-color: #00C6F1;;
    }
}