<div class="containerHome">
    <div class="init">
        <div class="container-title">
            <h2>Buenos días, Miguel</h2>
            <h1>¿Cómo se ven tus finanzas?</h1>
        </div>
        <app-carrousel></app-carrousel>
        <div class="showAll">
            <h3>Mostrar otros productos</h3>
            <app-button-toggle (pressed)="procesaPropagar($event)"></app-button-toggle>
        </div>      
    </div>
    <div>
        <div class="container-productos" *ngIf="cuentasAHO.length>0">
            <h3>Cuentas de Ahorro</h3>
            <div *ngFor="let aho of cuentasAHO">
                <app-producto [producto]=aho [mostrar]="aho.accountInformation.bank=='BANCO_1' || showAll"></app-producto>
            </div> 
        </div>
        <div class="container-productos" *ngIf="cuentasCTE.length>0">
            <h3>Cuentas Corriente</h3>
            <div *ngFor="let cte of cuentasCTE">
                <app-producto [producto]=cte [mostrar]="cte.accountInformation.bank=='BANCO_1' || showAll"></app-producto>
            </div> 
        </div>
        <div class="container-productos">
            <h3>CDT</h3>
            <div *ngFor="let cdt of CDT">
                <app-producto [producto]=cdt [mostrar]="cdt.accountInformation.bank=='BANCO_1' || showAll"></app-producto>
            </div> 
        </div>
        <div class="container-productos">
            <h3>Créditos</h3>
            <div *ngFor="let credito of Credit">
                <app-producto [producto]=credito [mostrar]="credito.accountInformation.bank=='BANCO_1' || showAll"></app-producto>
            </div> 
        </div>
        <div class="container-productos">
            <h3>Tarjeta de Créditos</h3>
            <div *ngFor="let tc of Tc">
                <app-producto [producto]=tc [mostrar]="tc.accountInformation.bank=='BANCO_1' || showAll" [isTc]='true'></app-producto>
            </div> 
        </div>
    </div>
    
    
</div>
