.card{
    background-color: white;
    box-shadow: 0 0 2.6vw 0px rgba(72, 102, 229, 0.3);
    width: 14.38vw;
    height: 19.06vw;
    padding: 1.92vw;
    margin: 1.41vw 1.8vw 3.41vw 1.8vw;
    .iconos{
        display: flex; 
        position: relative;  
        [class^="icon-"], [class*=" icon-"] {
            color: #C4CDFF;
            font-size: 1.9vw;
        }
        .end{
            position: absolute;
            right: 0;
        }
    }
    .nombre{
        margin-top: 2.69vw;
    }
    .saldo{
        margin-top: 1.27vw;;
        h3{
            font-family: SansBold;
        }
    }
    h5{
        font-family: SansLight;
    }
    .detalle{
        position: absolute;
        bottom: 1vw;
        right: 1vw;
        h5{
            font-family: SansRegular;
            color: #4866e5;
        }
    }
    .button{
        width: 5vw;
        justify-content: center;
        align-items: center;
        display: flex;
        background-color: #4866e5;
        color: white;
        border-radius: 0.2vw;
        font-size: 0.9vw;
        font-family: SansSemiBold;
        padding: 0.5vw;
        margin-top: 2.5vw;
        a{
            color: white;
        }
    }

}