.carousel{
    margin: 3vw 0;
    .carousel-item{
        .content-tarjet{
            display: flex;
            justify-content: center;
        }
        .tarjetaInit{
            background-color: white;
            height: 10.1vw;
            width: 22.16vw;
            border:  1px solid gray;
            border-radius: 0.4vw;
            margin-right: 2vw;
            padding: 1vw;
            h3{
                text-align: right;
            }
        }
    }
    .carousel-control-prev {
        left: -4vw;
    }
    .carousel-control-next {
        right: -4vw;
    }
    .carousel-indicators {
        bottom: -3vw;
        .active {
            background-color: gray;
        }
        li{
            background-color: white;
        }
    }
}

